<div class="container mt-2">

	<div class="col-lg-10">
		<div class="card">
			<div class="card-body">

				<div class="bg-white">
					<ul class="list-unstyled">
						<li class="mb-1">
							<h5><span>Productos</span></h5>
							<!--
							<button class="btn btn-toggle rounded collapsed" data-bs-toggle="collapse"
								data-bs-target="#productos-collapse" aria-expanded="true">
								Productos
							</button>
							-->
							<div class="collapse show" id="productos-collapse">
								<ul class="list-group list-group-flush">
									<li><a routerLink="productos" class="link-dark rounded">Listar</a></li>
									<li><a routerLink="productos/nuevo" class="link-dark rounded">Nuevo</a></li>

								</ul>
							</div>

						</li>

					</ul>
					<!--
	<ul class="list-unstyled">
		<li class="mb-1">
			<button class="btn btn-toggle rounded collapsed" data-bs-toggle="collapse"
				data-bs-target="#clientes-collapse" aria-expanded="true">
				Clientes
			</button>
			<div class="collapse show" id="clientes-collapse">
				<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
					<li><a routerLink="/productos" class="link-dark rounded">Listado</a></li>
					<li><a routerLink="/productos/registro" class="link-dark rounded">Añadir</a></li>
				</ul>
			</div>

		</li>
	</ul>
	-->
				</div>
			</div>
		</div>
	</div>

</div>