<div class="bg-white" style="width: 280px;">
	<ul class="list-unstyled">
		<li class="mb-1">
			<button class="btn btn-toggle rounded collapsed" data-bs-toggle="collapse"
				data-bs-target="#productos-collapse" aria-expanded="true">
				Productos
			</button>
			<div class="collapse show" id="productos-collapse">
				<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
					<li><a href="productos" class="link-dark rounded" 
							>Listado</a></li>
					<li><a href="productos/registro" class="link-dark rounded" r
							>Añadir</a></li>

				</ul>
			</div>
		</li>
	</ul>
	<ul class="list-unstyled">
		<li class="mb-1">
			<button class="btn btn-toggle rounded collapsed" data-bs-toggle="collapse"
				data-bs-target="#clientes-collapse" aria-expanded="true">
				Clientes
			</button>
			<div class="collapse show" id="clientes-collapse">
				<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
					<li><a routerLink="/clientes" class="link-dark rounded">Listado</a></li>
					<li><a routerLink="/clientes/registro" class="link-dark rounded">Añadir</a></li>
				</ul>
			</div>
		</li>
	</ul>
</div>