<div class="container row text-center">
    <div class="col"></div>
    <div class="col">

        <form action="http://localhost:3000/api/user/login" method="post">
            <div class="text-center pt-5 mb-5">
                <img src="../../../assets/Captura de Pantalla 2021-11-10 a la(s) 6.59.01 p. m..png " width="100"
                        alt="100">
                <h1 class="fw-bold "> Login Gonden1 </h1>
                    
            </div>

            <div class="d-grid mb-4">
                <input class="form-control" type="email" placeholder="Email" name="email" id="email">
            </div>
            <div class="d-grid mb-4">
                <input class="form-control" type="password" placeholder="password" name="password" id="password">
            </div>
            <div class=" container mb-4">
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary"> Iniciar </button>

                </div>
            </div>
            <div class=" my-3">
                <span>No tienes cuenta? <a href="/register"> Resitrarte</a> </span> <br>
                <span><a href="#"> Recuperar password</a> </span>
            </div>


        </form>
    </div>
    <div class="col"></div>

</div>